/* base16-light.css */

.CodeMirror {
    font-family: monospace;
    height: 400px;
    color: #24292e; /* Text color */
    font-size: 18px;
    background-color: #f5f5f5;
    border: 1px solid rgb(191, 191, 191);
  }
  
  .CodeMirror-gutters {
    background-color: #f5f5f5; /* Line number background color */
    border-right: 1px solid #9f9f9f; /* Border color */
  }
  
  .CodeMirror-linenumber {
    color: #565656; /* Line number color */
  }
  

  
  .CodeMirror-cursor {
    border-left: 1px solid #000000; /* Cursor color */
  }
  
  .CodeMirror-selected {
    background: #c8e1ff; /* Selected text background color */
  }
  
  .CodeMirror .CodeMirror-activeline-background {
    background: #f5f5f5; /* Active line background color */
  }
  
  .cm-comment {
    color: #008000; /* Comment color */
  }
  
  .cm-keyword {
    color: #a71d5d; /* Keyword color */
  }
  
  .cm-atom {
    color: #0000ff; /* Atom color */
  }
  
  .cm-number {
    color: #098658; /* Number color */
  }
  
  .cm-operator {
    color: #a71d5d; /* Operator color */
  }
  
  .cm-string {
    color: #183691; /* String color */
  }
  
  .cm-variable {
    color: #484848; /* Variable color */
  }
  
  .cm-variable-2 {
    color: #0184bb; /* Variable-2 color */
  }
  
  .cm-def {
    color: #e45649; /* Definition color */
  }
  
  .cm-type {
    color: #e45649; /* Type color */
  }
  
  .cm-bracket {
    color: #24292e; /* Bracket color */
  }
  
  .cm-tag {
    color: #e45649; /* Tag color */
  }
  
  .cm-link {
    color: #0000ff; /* Link color */
  }
  
  .cm-error {
    background: #f44336; /* Error background color */
    color: #ffffff; /* Error text color */
  }
  
  .cm-invalidchar {
    background: #f44336; /* Invalid character background color */
    color: #ffffff; /* Invalid character text color */
  }
  