/* paraiso-light.css */

.CodeMirror {
  font-family: monospace;
  height: 400px;
  color: #2f1e2e; /* Text color */
  font-size: 18px;
}

.CodeMirror-gutters {
  background-color: #e7e9db; /* Line number background color */
  border-right: 1px solid #e7e9db; /* Border color */
}

.CodeMirror-linenumber {
  color: #776e71; /* Line number color */
}

.CodeMirror-cursor {
  border-left: 1px solid #2f1e2e; /* Cursor color */
}

.CodeMirror-selected {
  background: #b3deef; /* Selected text background color */
}

.CodeMirror .CodeMirror-activeline-background {
  background: #e7e9db; /* Active line background color */
}

.cm-comment {
  color: #9c92a3; /* Comment color */
}

.cm-keyword {
  color: #ef6155; /* Keyword color */
}

.cm-atom {
  color: #48b685; /* Atom color */
}

.cm-number {
  color: #48b685; /* Number color */
}

.cm-operator {
  color: #ef6155; /* Operator color */
}

.cm-string {
  color: #fec418; /* String color */
}

.cm-variable {
  color: #ef6155; /* Variable color */
}

.cm-variable-2 {
  color: #48b685; /* Variable-2 color */
}

.cm-def {
  color: #ef6155; /* Definition color */
}

.cm-type {
  color: #ef6155; /* Type color */
}

.cm-bracket {
  color: #2f1e2e; /* Bracket color */
}

.cm-tag {
  color: #ef6155; /* Tag color */
}

.cm-link {
  color: #48b685; /* Link color */
}

.cm-error {
  background: #f44336; /* Error background color */
  color: #ffffff; /* Error text color */
}

.cm-invalidchar {
  background: #f44336; /* Invalid character background color */
  color: #ffffff; /* Invalid character text color */
}
