/* simple-light-theme.css */

.CodeMirror {
  font-family: monospace;
  height: 400px;
  color: #333; /* Text color */
  background: #f3f3f3; /* Editor background color (light gray) */
  font-size: 18px;
}

.CodeMirror-gutters {
  background-color: #f3f3f3; /* Line number background color */
  border-right: 1px solid #ccc; /* Border color */
}

.CodeMirror-linenumber {
  color: #777; /* Line number color (gray) */
}

.CodeMirror-cursor {
  border-left: 1px solid #000; /* Cursor color (black) */
}

.CodeMirror-selected {
  background: #e0e0e0; /* Selected text background color (light gray) */
}

.CodeMirror .CodeMirror-activeline-background {
  background: #f0f0f0; /* Active line background color (lighter gray) */
}

.cm-comment {
  color: #777; /* Comment color (gray) */
}

.cm-keyword {
  color: rgb(1, 152, 1); /* Keyword color (green) */
}

.cm-string {
  color: #00f; /* String color (blue) */
}
