/* vibrant-ink.css */

.CodeMirror {
    font-family: monospace;
    height: auto;
    color: #ffffff; /* Text color */
    background: #000000; /* Editor background color */
  }
  
  .CodeMirror-gutters {
    background-color: #000000; /* Line number background color */
    border-right: 1px solid #111111; /* Border color */
  }
  
  .CodeMirror-linenumber {
    color: #888888; /* Line number color */
  }
  
  .CodeMirror-lines {
    padding: 10px;
  }
  
  .CodeMirror-cursor {
    border-left: 1px solid #ffffff; /* Cursor color */
  }
  
  .CodeMirror-selected {
    background: #333333; /* Selected text background color */
  }
  
  .CodeMirror .CodeMirror-activeline-background {
    background: #222222; /* Active line background color */
  }
  
  .cm-comment {
    color: #888888; /* Comment color */
  }
  
  .cm-keyword {
    color: #ffcc00; /* Keyword color */
  }
  
  .cm-atom {
    color: #ffcc00; /* Atom color */
  }
  
  .cm-number {
    color: #ffcc00; /* Number color */
  }
  
  .cm-operator {
    color: #ffffff; /* Operator color */
  }
  
  .cm-string {
    color: #ff6666; /* String color */
  }
  
  .cm-variable {
    color: #ffffff; /* Variable color */
  }
  
  .cm-variable-2 {
    color: #ffcc00; /* Variable-2 color */
  }
  
  .cm-def {
    color: #ffffff; /* Definition color */
  }
  
  .cm-type {
    color: #ffffff; /* Type color */
  }
  
  .cm-bracket {
    color: #ffffff; /* Bracket color */
  }
  
  .cm-tag {
    color: #ffcc00; /* Tag color */
  }
  
  .cm-link {
    color: #ff6666; /* Link color */
  }
  
  .cm-error {
    background: #f44336; /* Error background color */
    color: #ffffff; /* Error text color */
  }
  
  .cm-invalidchar {
    background: #f44336; /* Invalid character background color */
    color: #ffffff; /* Invalid character text color */
  }
  