@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Pacifico&display=swap');

*, *::before, *::after{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color:#222;
  font-family: system-ui, sans-serif;	
  padding-bottom: 50px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(241, 241, 241);
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgb(155, 155, 155);
  box-shadow: 0px 0px 5px 0px #888;
}

.nav .container{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.nav a{
  text-decoration: none;
  font-family: 'Comfortaa';
  color: rgb(0, 0, 0);
  padding: 7px 15px;
  font-weight: 600;
  
}
.logo a{
  color: #108a00;
  font-size: 40px;
  margin-left: 70px;
  font-family: 'Pacifico';
  position: relative;
}
.nav .container img{
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
}
.nav .container ul li{
  display: flex;
  align-items: baseline;
  justify-content: center;

}
.nav .container i{
  font-size: 22px;
  color: #108a00;
}
.nav.active{
  background-color: #fff;
  box-shadow: 0  2px 15px rgba(0, 0, 0, 0.3);
}

.nav.active a{
  color: #222;
  
}

.nav.active .container{
  padding: 20px 0;
}

.nav a.current, .nav a:hover{
  color: #108a00;
  font-weight: bold;
  
}

/* side bar*/
.wrapper{
    height: 100%;
    width: 300px;
    position: fixed;
    position: absolute;
    top: 0;
  }
  .wrapper .menu-btn{
    position: fixed;
    left: 30px;
    top: 25px;
    background: #4a4a4a;
    color: #fff;
    height: 36px;
    width: 36px;
    z-index: 9999;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  #btn:checked ~ .menu-btn{
    left: 270px;
  }
  .wrapper .menu-btn i{
    position: absolute;
    font-size: 23px;
    transition: all 0.3s ease;
  }
  .wrapper .menu-btn i.fa-times{
    opacity: 0;
  }
  #btn:checked ~ .menu-btn i.fa-times{
    opacity: 1;
    transform: rotate(-180deg);
  }
  #btn:checked ~ .menu-btn i.fa-bars{
    opacity: 0;
    transform: rotate(180deg);
  }
  #sidebar{
    position:fixed;
    background: #404040;
    height: 100vh;
    width: 270px;
    overflow: scroll;
    left: -270px;
    transition: all 0.3s ease;
  }
  #btn:checked ~ #sidebar{
    left: 0;
  }
  #sidebar .title{
    font-family: 'Comfortaa';
    line-height: 65px;
    text-align: center;
    background: #333;
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    border-bottom: 1px solid #222;
  }
  #sidebar .list-items{
    position: relative;
    background: rgb(221, 220, 220);
    width: 100%;
    height: 100%;
    list-style: none;
  }
  #sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
  }
  #sidebar .list-items li:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0px 0px 10px 2px #9d9d9d;
  }
  #sidebar .list-items li:first-child{
    border-top: none;
  }
  #sidebar .list-items li a{
    color: #1e1e1e;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Comfortaa';
    font-weight: 600;
    height: 10%;
    width: 100%;
    display: block;
  }
  #sidebar .list-items li a i{
    margin-right: 20px;
  }
  #sidebar .list-items .icons{
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sidebar .list-items .icons a{
    height: 100%;
    width: 40px;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #4a4a4a;
    border-radius: 5px;
    border: 1px solid #383838;
    transition: all 0.3s ease;
  }
  #sidebar .list-items .icons a:hover{
    background: #404040;
  }
  .list-items .icons a:first-child{
    margin-left: 0px;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #202020;
    z-index: -1;
    width: 100%;
    text-align: center;
  }
  .content .header{
    font-size: 45px;
    font-weight: 700;
  }
  .content p{
    font-size: 40px;
    font-weight: 700;
  }


/*head*/
  .heading-1{
    color:rgb(97, 97, 97);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .heading-2{
    color: #4a4a4a; 
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .heading-3{
    color: rgb(77, 75, 75);
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .obcontent{
    padding: 50px;   
    margin-top: 20px;
  }
  .space{
    margin-top: 20px;
    margin-left: 40px;
  }
  pre{
    border: 1px solid black;
    padding:0px 30px 0px 30px;
    background-color: #f0dbc9f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 15px 50px 15px 15px;
    width: fit-content;
  }
  pre code{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color:black;
   
  }
  hr{
    border: 1px solid rgb(106, 106, 106);
    
  }
  p{
    margin: 20px 0 10px 20px;
    font-size: large;
  }
  p code, li code{
    color: red;
    font-size: large;
  }
  li strong, p strong{
    color: #3e3179;
    font-size: 1.2rem;
  }

  